span {
    font-family: BlogFont !important;
}
.status-msg-body {
    text-align: center;
    padding: .3em 0;
    width: 94% !important;}
/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.ttf) format('truetype');
}
<Group description="اعدادات رئيسية" selector="body">
<Variable name="keycolor" description="اللون الرئيسي" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="body.background" description="الخلفية" type="background" color='transparent' default="$(color) url(https://1.bp.blogspot.com/-cMK2koTlngQ/WvKMEZADm8I/AAAAAAAAJ6Y/4lq91CBMQhkNnUp9d9i985x36l7AkqpCQCLcBGAs/s1600/bram-naus-200967-unsplash.jpg)
no-repeat fixed top center" value="$(color) url(https://1.bp.blogspot.com/-cMK2koTlngQ/WvKMEZADm8I/AAAAAAAAJ6Y/4lq91CBMQhkNnUp9d9i985x36l7AkqpCQCLcBGAs/s1600/bram-naus-200967-unsplash.jpg) no-repeat fixed top center"/>
<Variable name="wrapper" description="لون الخلفية الداخلي" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="lines" description="لون الفواصل الرئيسية" type="color" default="#eeeeee" value="#eeeeee"/>
</Group>
<Group description="الشريط العلوي" selector="#HeaderTop">
<Variable name="top.back" description="الخلفية" type="color" default="#120e28" value="#120e28"/>
<Variable name="top.pages.color" description="لون الصفحات" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="top.pages.hover.back" description="خلفية الصفحات عند المرور" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="top.pages.hover.color" description="لون الصفحات عند المرور" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="top.pages.lines" description="لون الفواصل بين الصفحات" type="color" default="#777777" value="#777777"/>
<Variable name="top.social.back" description="خلفية ازرار التواصل" type="color" default="#242135" value="#242135"/>
<Variable name="top.social.color" description="لون ازرار التواصل" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="top.social.title.back" description="خلفية أسم موقع التواصل" type="color" default="#242135" value="#242135"/>
<Variable name="top.social.title.color" description="لون أسم موقع التواصل" type="color" default="#ffffff" value="#ffffff"/>
</Group>
<Group description="القائمة الرئيسية" selector="#LinkList101">
<Variable name="menu.back" description="الخلفية" type="color" default="#242135" value="#242135"/>
<Variable name="menu.link.back" description="خلفية الروابط" type="color" default="#120e28" value="#120e28"/>
<Variable name="menu.link.color" description="لون الروابط" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="menu.hover.back" description="خلفية الروابط عند المرور" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="menu.hover.color" description="لون الروابط عند المرور" type="color" default="#ffffff" value="#ffffff"/>
</Group>
<Group description="شريط آخر الأخبار" selector="#Int-one">
<Variable name="ticker.back" description="خلفية العنوان" type="color" default="#120e28" value="#120e28"/>
<Variable name="ticker.color" description="لون العنوان" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="ticker.links.back" description="خلفية الروابط" type="color" default="#dddddd" value="#dddddd"/>
<Variable name="ticker.links.color" description="لون الروابط" type="color" default="#120e28" value="#120e28"/>
</Group>
<Group description="الواجهة" selector="#Int-two">
<Variable name="intro.back" description="الخلفية" type="color" default="#120e28" value="#120e28"/>
<Variable name="intro.button.back" description="خلفية الزر" type="color" default="#242135" value="#242135"/>
<Variable name="intro.button.color" description="لون الزر" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="intro.details" description="لون التفاصيل" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="intro.button.hover.color" description="لون الزر عند المرور" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="intro.button.hover.back" description="خلفية الزر عند المرور" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="intro.label.back" description="خلفية السهم والتسميه" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="intro.label.color" description="لون السهم والتسميه" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="intro.line" description="لون الفاصل السفلي" type="color" default="#dddddd" value="#dddddd"/>
</Group>
<Group description="الشريط الجانبي" selector="aside">
<Variable name="side.title.back" description="خلفية العنوان" type="color" default="#120e28" value="#120e28"/>
<Variable name="side.title.color" description="لون العنوان" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="side.lines" description="الفواصل" type="color" default="#eeeeee" value="#eeeeee"/>
<Variable name="weather.back" description="خلفية الطقس" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="weather.color" description="لون نص الطقس" type="color" default="#120e28" value="#120e28"/>
<Variable name="side.links" description="لون الروابط" type="color" default="#444444" value="#444444"/>
<Variable name="side.text" description="النصوص العاديه" type="color" default="#777777" value="#777777"/>
<Variable name="side.links.hover" description="لون الرابط عند المرور" type="color" default="#000000" value="#000000"/>
</Group>
<Group description="التصنيفات" selector="#main .Label">
<Variable name="cate.title.back" description="خلفية العنوان" type="color" default="#120e28" value="#120e28"/>
<Variable name="cate.title.color" description="لون العنوان" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="post.title" description="عنوان الموضوع" type="color" default="#555555" value="#555555"/>
<Variable name="post.details" description="لون التفاصيل" type="color" default="#999999" value="#999999"/>
<Variable name="post.details.icons" description="أيقونات التفاصيل" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="post.lines" description="الفواصل" type="color" default="#eeeeee" value="#eeeeee"/>
<Variable name="post.image.hover" description="لون تأثير الصور" type="color" default="#ffffff" value="#ffffff"/>
</Group>
<Group description="أعلى الفوتر" selector="#f-row">
<Variable name="subs.back" description="الخلفية" type="color" default="#242135" value="#242135"/>
<Variable name="subs.text" description="لون النص" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="subs.buttons" description="خلفية الأزرار" type="color" default="#120e28" value="#120e28"/>
<Variable name="subs.email.back" description="خلفية مربع الإشتراك" type="color" default="#120e28" value="#120e28"/>
<Variable name="subs.email.color" description="لون نص مربع الاشتراك" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="subs.button.back" description="خلفية زر إشتراك" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="subs.button.color" description="لون زر الإشتراك" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="subs.button.back.hover" description="خلفية زر الاشتراك عند المرور" type="color" default="#58CA58" value="#58CA58"/>
<Variable name="subs.button.color.hover" description="لون زر الاشتراك عند المرور" type="color" default="#ffffff" value="#ffffff"/>
</Group>
<Group description="الفوتر" selector="footer">
<Variable name="footer.back" description="الخلفية" type="color" default="#120e28" value="#120e28"/>
<Variable name="footer.title" description="عنوان العناصر" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="footer.lines" description="الفواصل" type="color" default="#242135" value="#242135"/>
<Variable name="footer.links" description="لون الروابط" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="footer.links.hover" description="لون الروابط عند المرور" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="footer.text" description="لون النص العادي" type="color" default="#999999" value="#999999"/>
</Group>
<Group description="شريط الحقوق" selector="#copyrights">
<Variable name="copts.back" description="خلفية الشريط" type="color" default="#120e28" value="#120e28"/>
<Variable name="copts.line" description="لون الفاصل" type="color" default="#242135" value="#242135"/>
<Variable name="copts.text" description="لون النص" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="copts.link" description="لون الروابط" type="color" default="#ffffff" value="#ffffff"/>
<Variable name="copts.soc.back" description="خلفية أزرار التواصل" type="color" default="#242135" value="#242135"/>
<Variable name="copts.soc.color" description="لون أزرار التواصل" type="color" default="#dddddd" value="#dddddd"/>
</Group>
<Group description="الموضوع" selector=".post-body">
<Variable name="postbody.title.back" description="خلفية العنوان" type="color" default="#242135" value="#242135"/>
<Variable name="postbody.title.color" description="لون العنوان" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="postbody.text" description="اللون الافتراضي للنصوص" type="color" default="#120e28" value="#120e28"/>
<Variable name="postbody.details" description="التفاصيل" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="postbody.details.icon" description="ايقونات التفاصيل" type="color" default="#9e2f5e" value="#9e2f5e"/>
<Variable name="postbody.lines" description="الفواصل" type="color" default="#eeeeee" value="#eeeeee"/>
<Variable name="postbody.subtitle" description="العناوين الثانوية" type="color" default="#242135" value="#242135"/>
<Variable name="related.links" description="عنوان موضوع متعلق" type="color" default="#242135" value="#242135"/>
<Variable name="related.details" description="تفاصيل موضوعات متعلقه" type="color" default="#aaaaaa" value="#aaaaaa"/>
<Variable name="comm.back" description="خلفية أزرار التعليقات" type="color" default="#ddd" value="#dddddd"/>
</Group>
<!-- Responsive II -->
<style type='text/css'>/*<![CDATA[*/
@media screen and ( max-width : 1100px ) {
#Header1{margin-bottom:20px}
#HeaderMid .widget{text-align:center;width:100%;clear:both;float:none;margin:20px auto 0;display:block}
#Header1_headerimg{margin:0 auto}
}
@media screen and ( max-width : 900px ) {
#HeaderMid{display:block}
#main,aside{width:100%;clear:both;border:none;padding:0 30px}
.wrapper{width:100%}
#PageList1{width:50px;float:right}
.res-butt1,.res-butt2{display:block}
.ma.subed ul:before{display:none}
#LinkList100{min-width:auto;width:calc(100% - 50px);height:50px;overflow:hidden}
#LinkList100 li a{margin-bottom:10px}
#PageList1 ul{background-color:$(top.back);position:absolute;width:150px;text-align:center;top:60px;border-radius:3px;padding:20px;z-index:3;right:-20px;display:none}
#PageList1 li a:after{display:none}
#PageList1 li a{color:$(top.pages.color);font-size:16px;border-radius:3px;margin:0 0 5px}
#PageList1 li{display:block}
#PageList1 ul:before{content:"";border-right:10px solid transparent;border-left:10px solid transparent;border-bottom:10px solid $(top.back);position:absolute;top:-9px;right:25px}
#f-row{height:auto}
#f-row .subscription{float:none;width:100%;margin-top:0}
.popular-posts li{width:calc(50% - 20px);margin:0 0 20px 20px !important;float:right;height:250px}
#LinkList102{text-align:center}
#LinkList102 a{width:100px!important;margin:0 1px 5px 5px;display:inline-block;vertical-align:top;float:none}
}
@media screen and ( min-width : 641px ) and ( max-width : 860px ) {
#HTML140{display:block;text-align:center}
#HTML140 p{display:block;width:calc(100% - 340px)}
#FollowByEmail1{float:left;margin-top:-80px}
#ContactForm1{right:calc(50% - 100px)}
}
@media screen and ( max-width : 640px ) {
#Int-one{display:none}
.Sided-Section .section{display:block;width:100%;margin-left:0}
.f-cols .section{width:100%;float:none;margin:0;height:auto}
.list .Post,.cov,.vcover .Post:nth-of-type(n+2){width:100%;padding:0!important;margin:0 0 20px!important;border:none!important}
.cover .Post:first-of-type .Title,.cover .Post:first-of-type .details{width:100%;height:auto;clear:both;float:none;display:block}
.cover .Post:first-of-type .Thumb{width:100%;display:block;float:none;clear:both;margin-bottom:10px}
.vcover .Post:first-of-type{width:100%;border-left:none;padding:0 0 20px;height:auto!important;border-bottom:1px solid #EEE;margin-bottom:20px}
.broadcast .current{float:none;width:100%;height:auto}
.broadcast .Post:nth-of-type(n+2){width:100%}
.broadcast .current .Thumb{height:200px}
.cards .Post{width:100%;clear:both;float:none;margin:0 0 20px}
.cards .Post .Title{height:auto}
.RecentThumb{float:none;clear:both;margin-left:0;margin-bottom:20px;display:block;width:100%}
.index-body .post-title a{width:100%;display:block;float:none;clear:both;height:auto}
.index-body .details{width:100%;clear:both;float:none}
#LinkList104{float:none;margin:0 auto 10px auto;text-align:center;clear:both}
.c-site,.c-des{display:block!important;float:none!important;margin:0!important;text-align:center}
.c-right{padding-top:15px;text-align:center}
.author-profile{width:100%;min-height:auto;padding:20px}
.author-profile img{float:right;width:100px;padding:5px}
.related-posts,.related-h3,#blog-pager{width:100%;clear:both;margin:0 0 20px}
.share h7{clear:both;width:100%;float:none;display:block;text-align:right}
.share a,.fb-like.fb_iframe_widget,.plus-one{display:inline-block;float:none;margin:10px auto 0}
.share{text-align:center;direction:ltr}
.fb-like.fb_iframe_widget:after{text-indent:-30px}
.t-search.fa,.search-form{display:none}
#HTML140{display:block;margin-left:0;text-align:center;margin-bottom:10px}
#HTML140 p{display:inline-block;width:calc(100% - 190px);margin:10px 10px 20px}
#FollowByEmail1{display:block;width:auto;padding:0 30px}
}
@media screen and ( max-width : 480px ) {
#HeaderTop,#HeaderMid,#main,aside,#copyrights{padding-left:20px;padding-right:20px}
#int-one,#int-two,#LinkList101{margin-left:20px;margin-right:20px}
#HTML100{display:block;vertical-align:top;width:100%;min-height:auto}
.LabLink{display:none}
.popular-posts li{width:100%;margin:0 0 10px!important;float:none;height:auto}
.sided .Post:first-of-type .Snippet{height:auto}
.blog-pager-older-link,.blog-pager-newer-link{width:100%}
.author-profile img{float:none;margin:0 auto}
.author-profile{text-align:center}
.c-icons{height:auto;text-align:left;direction:ltr}
.c-icons h3{display:block;float:none;clear:both;text-align:right;margin-bottom:-35px}
.c-icons span{display:block;text-align:left;margin:0 0 5px}
#HTML140 p{display:block;width:100%;margin:20px 0}
#ContactForm1{right:calc(50% - 100px)}
#FollowByEmail1{padding:0}
}
@media screen and ( max-width : 240px ) {
#HeaderTop,#HeaderMid,#main,aside,#copyrights{padding-left:10px;padding-right:10px}
#int-one,#int-two,#LinkList101{margin-left:10px;margin-right:10px}
.Intro-Label,.Title,.details{width:100%!important;display:block;float:none!important;clear:both}
#FollowByEmail1 i{font-size:37px;width:70px;height:70px}
#f-row .email,#f-row .subscribe{display:block;width:100%;margin:0 0 10px}
.broadcast .Post:nth-of-type(n+2){height:auto}
.broadcast .Post:nth-of-type(n+2) .Thumb{border:none;height:100px;padding:0;margin:0 auto;display:block;width:100%;margin-bottom:10px}
.Thumb{margin-bottom:20px;height:150px;padding:10px;border:1px solid #EEE;float:none;display:block;width:100%}
}
/*]]>*/</style>
<style type='text/css'>
#related-posts{float:right;width:auto;}
#related-posts a{}
#related-posts h2{margin-top: 10px;background:none;font:18px Oswald;padding:3px;color:#999999; text-transform:uppercase;}
#related-posts .related_img {margin:5px;border:4px solid #f2f2f2;width:270px;height:185px;transition:all 300ms ease-in-out;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;-o-transition:all 300ms ease-in-out;-ms-transition:all 300ms ease-in-out;}
#related-title {color:#000;text-align:right;padding: 0 10px;font-family: &#39;Oswald&#39;,sans-serif;font-size: 18px; line-height:23px;height:35px;width:270px;}
#related-posts .related_img:hover{opacity:.7;filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity:.7}
</style>
